APP_NAME=Athera Brain OS API
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
CORS_ORIGINS=["http://localhost:5173"]
LLM_PROVIDER=ollama
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3
GROQ_URL=https://api.groq.com/openai/v1
GROQ_MODEL=llama-3.1-8b-instant
# GROQ_API_KEY=gsk_xxx
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=athera_knowledge
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
WHISPER_MODEL=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
COQUI_MODEL=tts_models/en/ljspeech/tacotron2-DDC
# Optional for higher GitHub API rate limit:
GITHUB_TOKEN=
GRAPH_GITHUB_USER=Siddarthb07
